# Travis CI configuration.

language: python

matrix:
  include:
  - python: "2.7"
    env: TEST=python
  - python: "3.5"
    env: TEST=python
  - python: "3.6"
    env: TEST=python
  - python: "nightly"
    env: TEST=python
  - python: "pypy"
    env: TEST=python
  - python: "pypy3"
    env: TEST=python
  - env: TEST=go

install:
    - pip install -r requirements-travis.txt

env:
  global:
  - UPLOAD_SIZE_MB=32
  - MAX_WORKERS=2

script:
  - make
  - pytest -vs ${TEST}_test.py
